{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('bundles/studytest/css/my-style.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block body %}
  <h1 id="my-h1">Hello, {{ name }}</h1>
{% endblock %}
