{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('bundles/studytest/css/my-style.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block body %}
  <div class="wrapper">
    <p class="wrapper__txt">Hello, {{ name }}</p>
  </div>
{% endblock %}
